.notes-section {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.notes-section_title {
  font-size: 25px;
  margin-bottom: 30px;
}

.new-note-button {
  color: aliceblue;
  background-color: black;
  border: 1px solid white;
  padding: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.notes-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.notes-section_note {
  background-color: black;
  padding: 10px 10px 20px 10px;
  cursor: pointer;
  height: 40px;
}

.note-description {
  display: flex;
}

.note-title {
  font-weight: 700;
  padding-bottom: 10px;
}

.note-date {
  padding-right: 20px;
}

.note-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}