body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: black;
  color: azure;
  font-family: "Winky Sans", sans-serif;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

button {
  border: none;
  font-family: "Winky Sans", sans-serif;
}

li {
  list-style: none;
}